<div class="card-container">
  <app-card
    [planType]="'Simples'"
    [planPrice]="100"
    [cardStyle]="'orange'"
    (cardOutput)="methodClick()"></app-card>

  <app-card
    [planType]="'Completo'"
    [planPrice]="200"
    [cardStyle]="'purple'"></app-card>
</div>


<!-- two way data binding -->
<h1>name</h1>

<!-- <input
  type="text"
  [(ngModel)]="name"                 <--- Input
  (ngModelChange)="handleName($event)">      <--- Output
-->

<!-- ou -->

 <input
  type="text"
  [(ngModel)]="name">

  <!-- da para usar o output ao mesmo tempo também (ngModelChange).
  Para criar uma funcionalidade a cada momento em que o evento e digitado. -->


<p>Palavra digitada: {{ name }}</p>


<!-- diretiva *ngIf -->
<div style="background-color: aqua; font-size: 20px;" *ngIf="minhaProp; else meuTemplate">Elemento Div com a Diretiva ngIf</div>

<ng-template #meuTemplate>
  <div style="background-color: red; font-size: 20px;">Sou outra Div</div>
</ng-template>

<button style="cursor: pointer;" (click)="toggleProp()">Alterando o elemento que possui a Diretiva ngIF</button>

<br>
<br>

<ng-container *ngIf="minhaProp2; then templateContainer; else outroTemplateContainer"></ng-container>

<ng-template #templateContainer>
  <div style="background-color: blue; font-size: 20px;">Sou a Div "then"</div>
</ng-template>

<ng-template #outroTemplateContainer>
  <div style="background-color: orange; font-size: 20px;">Sou outra Div "else"</div>
</ng-template>


<button style="cursor: pointer;" (click)="toggleProp2()">Alterando template com o ng-container</button>

<br>





<!-- Diretiva ngFor -->


<div class="list">
  <div class="item item--odd">
    <p class="item__name">Felipe Freitas</p>
    <p class="item__age">26 anos</p>
  </div>

  <div class="item item--highlighted">
    <p class="item__name">Fulano da Silva</p>
    <p class="item__age">34 anos</p>
  </div>

  <div class="item item--odd">
    <p class="item__name">Jorginho Carvalho</p>
    <p class="item__age">55 anos</p>
  </div>

  <div class="item">
    <p class="item__name">Joãozinho da Silva</p>
    <p class="item__age">18 anos</p>
  </div>
</div>

<br>

<!-- <div class="list">
  <div
  class="item"
  *ngFor="
    let person of listItems;
    let i = index;
    let isOdd = odd"
  [class.item--odd]="isOdd"
  (click)="toggleClass(i)"
  [class.item--highlighted]="isClassHighLighted === i"
  >
    <p class="item__name">{{ i + 1}} - {{ person.name }}</p>
    <p class="item__age">{{ person.idade }} anos</p>
  </div>
</div> -->




<br>
<br>
<br>
<br>

<h1>Refatorado</h1>


<div
  class="list"
  *ngFor="
  let person of listPersons;
  let i = index;
  let isOdd = odd;
  let isFirst = first;
  let isLast = last"
  >
    <app-person
      [personIndex]="i"
      [personName]="person.name"
      [personAge]="person.idade"
      [isOdd]="isOdd"
      [isFirst]="isFirst"
      [isLast]="isLast"
      [isSelected]="personSelectIndex == i"
      (selectPersonEmitter)="toggleClass($event)"
    ></app-person>
</div>

<br>
<br>
<br>

<!-- Diretiva ngStyle -->

<h1 [ngStyle]="{
  'font-size': fontSize + 'px',
  'color': textColor,
}">Sou um H1!!!</h1>


<button (click)="increaseFontSize()">Aumentar Fonte</button>
<button (click)="updateBtnText()">{{ btnText }}</button>


<!-- a principal diferença o ngStyle para o atributo style,
  é basicamente ela ser mas dinâmica, organizada e limpo (e também menos chata e trabalhoso). -->

<br>
<br>
<br>





<!-- Diretiva ngClass -->
<!-- bastante similar com a diretiva ngStyle -->

<h1 [ngClass]="{
  'is-big is-green': isGreen,
  'is-orange': !isGreen,
}">Sou um H1!!!</h1>


<button (click)="setToGreen()">Verde</button>
<button (click)="setToOrange()">Laranja</button>


<br>
<br>
<br>



<!-- PIPES -->
<!-- os pipes ajudam a reciclar logicar muitos grandes e repetitivas em diretivas e atributos.
evitando assim possíveis chamadas de métodos repetitivos desnecessárias.
é possível criar os seus próprios Pipes.
e também está ferramenta e muito performática.-->

<h1>{{ textPipe | uppercase}}</h1>

<p>{{ pessoaPipe | json }}</p>
